body {
  font-size: 2.0em;
}

header {
	padding-bottom: 35px;
}

.container-fluid {
	margin-right: 3%;
	margin-left: 3%;
}

.key-points {
	margin-top: 30px;
	margin-bottom: 30px;
}
h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
	font-weight: bold;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
}


h3, p {
	text-align: justify;
}

.btn-info {
	margin-top: 10px;
	margin-bottom: 20px;
}

.section-title {
  text-align: center;
  margin-top: 40px;
}

.figure-grouping {
	margin-top: 40px;
	margin-bottom: 40px;
}

.figure-text {
	margin-top: 10px;
}

.paypal-button {
  padding-top: 20px;
  display: flex;
	flex-flow: column nowrap;
  align-items: center;
}

.purchase-options {
	display:flex;
	flex-flow: column nowrap;
  align-items: center;
}

.purchase-option-text {
  text-align: center;
}

.wrap {
	flex-wrap: wrap;
}

.image-border {
	border-color: 10px solid black;
}

.top-buffer {
	margin-top: 20px;
}

.purchase-option {
	display: flex;
	flex-flow: column nowrap;
  align-items: center;
}


/*
    Media Queries
 */

/* TABLET */
@media(min-width:768px) and (max-width:991px) {
  .center-media {
	  display: flex;
	  justify-content: space-around;
  }

  .tool-images {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

  body {
  	background-color: orange !important;
  }
}
/* DESKTOP & LAPTOP */

@media(min-width:992px) {
   .video { 
        width:560px;
        padding-bottom:315px !important;
    }

  .center-media {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-around;
  }

  .tool-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

	.purchase-option {
	  margin-left: 20px;
	}

}

.tool-image {
	/*margin-top: 10px;
	margin-bottom: 10px;*/
	margin: 10px;
	max-height: 400px;
}

 body {
      background-color: #1DF428;
    }

    body,
    td,
    th {
      color: #0D5FAB;
    }
